DB_HOST=mysql
DB_PORT=3306
DB_USER=uai
DB_PASS=uai_pass
DB_NAME=uai

# API port
PORT=3000

JWT_SECRET=change_me
JWT_EXPIRES_IN=8h

AKADEMIC_MODE=mock
AKADEMIC_COOKIE=

CORS_ORIGINS=http://localhost:4200,https://nivelacion-web.autonomadeica.edu.pe