Table	Create Table
workshop_students	CREATE TABLE `workshop_students` (\n  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `workshopId` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `studentId` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `createdAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `uq_workshop_student` (`workshopId`,`studentId`),\n  KEY `idx_ws_workshop` (`workshopId`),\n  KEY `idx_ws_student` (`studentId`),\n  CONSTRAINT `fk_ws_workshop` FOREIGN KEY (`workshopId`) REFERENCES `workshops` (`id`) ON DELETE CASCADE ON UPDATE CASCADE\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
